body {
	background-color: #BBE6FA;
	font-family: Georgia;
}

#container{
	padding: 20px;
	margin: 0 auto;
	text-align: center;
}

.dog{
	margin-bottom: 30px;
}

.dog img{
	width: 100%;
}

h1{
	font-family: Arial Black;
	font-size: 38px;
	color: #FFFFFF;
}

p{
	font-style: italic;
	font-size: 1em;
}

footer{
	background-color: #FFFFFF;
	padding: 20px;
	margin-top: 30px;
}

footer p{
	font-style: normal;
	font-size: 10px;
}

@media (min-width: 480px){

	h1{
		font-size: 50px;
	}

	.dog img{
		width: 60%;
	}
}

@media (min-width: 768px){

	h1{
		font-size: 60px;
	}

	.dog img{
		width: 40%;
	}

}

@media (min-width: 1920px){

	h1{
		font-size: 60px;
	}

	.dog img{
		width: 20%;
	}

}

